{
  "token": "YOUR_GITHUB_TOKEN",
  "repo": "thuhole/status",
  "tasks": [
    {
      "Category": "Main Services",
      "Name": "FTP",
      "URL": "thuhole.com",
      "Code": 21,
      "Scheme": "tcp",
    },
    {
      "Category": "Main Website",
      "Name": "Images",
      "URL": "https://img.thuhole.com",
      "Code": 403,
      "Scheme": "http"
    },
    {
      "Category": "Reference",
      "Name": "Zhihu",
      "URL": "https://www.zhihu.com",
      "Code": 302,
      "Scheme": "http"
    },
    {
      "Category": "Reference",
      "Name": "Google",
      "URL": "https://www.google.com/gen_204",
      "Code": 204,
      "Scheme": "http"
    },
  ]
}
